
@{
    ViewData["Title"] = "About Us";
}

<body>
    <div>
        <img src="@Url.Content("~/Image/pharm.jpg")" width="100%" alt="Pharmacy Image">
    </div>
    <div>
        <h1 style="font-family:Garamond;color:#800020">
            About Us
        </h1>
    </div>
    <div>
        <p style="font-size:25px;font-family:'Times New Roman';color:#052a4c;font-style:italic">
                XYZ Pharmacy is one of the most leading e-pharmacy company in India. We sell all kinds of products online like beauty, healthcare and daily care,  wellness.
                XYZ Pharmacy is providing it’s quality services to the customers for more than 10 years.
                We deliver across 25000+ pin codes and 300+ cities in India.
                XYZ Pharmacy is known for the best quality service that it provides to all customers.

        
           
        </p>
        <br />

        <p style="font-size:25px;font-family:'Times New Roman';color:#052a4c;font-style:italic">
            Our company has grown a lot since our establishment in the Industry and over the time we have improved our services.
            It's all the trust of our customers that we have come this long way and still serving with the best.
            Customer satisfaction has always been our top most priority.
        </p>
        <br />
        <p style="font-size:25px;font-family:'Times New Roman';color:#052a4c;font-style:italic">

            The  XYZ Pharmacy works on a vendor based system where the products get arranged through our multiple vendors. Once the arrangement of the product we inspect the same and after several quality checks we proceed further.
            We always deal in the genuine quality products so that our customers do not face any issues with the products.
            Our aim has always been to deliver the orders to the customers at the earliest.
        </p>
        <br />
        <p style="font-size:25px;font-family:'Times New Roman';color:#052a4c;font-style:italic">
            We have served more than 10 lakhs of families over the year with the most satisfactory feedback. Our approach is towards making the online shopping as much easier as possible.
            Putting our clients needs has been at the core of our team's culture since day one. We bring our customers the best quality administration and give the nearby network and neighboring wards a brilliant, understanding-centered administration.
            XYZ pharmacy is a warm and well-disposed place, with experienced specialists giving proficient skincare medicines ,Cold,PainRelief,Fever medicines in a quiet and loosening-up condition.
            Our services incorporate administering remedies, new drug benefits, gathering and conveyance work, glucose and cholesterol checks, a stroll in movement facility, and a huge number of well-being and excellent medicines and items.
            Everyone merits great wellbeing and at 'XYZ PHARMACY', your wellbeing and prosperity are our need.
            'XYZ PHARMACY' creative way to deal with “way of life upkeep” is the thing that separates them, and with each passing achievement, the brand extends itself .
            We deliver products and solutions to improve the lives of people every day.
            We offer industry expertise and an expanding portfolio of safe, effective products that improve quality, manage costs and reduce complexity. With our trusted regulatory experience, insights, and infrastructure, we help manufacture and source products that meet the demand for value-driven, comprehensive healthcare solutions.
            We offer premium and the largest range of original health and fitness products across various categories and leading brands. We dedicate this portal to all those people who are keen to purchase healthcare products online.
            We aim at covering various healthcare categories comprehensively which include –Diabetes,Nutrition,Sports and fitness,Body Building, Beauty care and Personel Care Produts,Mother and Baby Care and Health Devices. We enjoy comprehensive understanding of the shopper’s needs and make our best efforts to cater them with an extensive choice of both Indian and globalbrands
            Offering a superior buying experience, we endow our esteemed customers with the best prices in market. we strive to achieve the highest level of customer satisfaction. Equipped with a well-informed team, using state of the art E-commerce platform, and prompt customer support system, we aim to offer our customers with unparalleled services.
            The service is supervised by fully qualified pharmacists who are available to discuss symptoms and issues about medical problems in a confidential environment through email and oversee all medicinal purchases.
            So, make a move and Happy Shopping !!!
        </p>
        <br />
    </div>
</body>