<html>
<head>

</head>

<body style="background-image: url('../../Image/on.jpg'); background-repeat: no-repeat; background-attachment:fixed;
  background-size:cover">
<div style="float:left">
    <br />
    <br />
        

        <h1 style="text-align:center;color:#4682B4;font-size:100px">
            &nbsp; &nbsp; &nbsp; &nbsp <b>
                Your
         Health</b></h1>

        <h1 style="text-align:center;color:#4682B4;font-size:80px">
            &nbsp; &nbsp; &nbsp; &nbsp <b>is our</b>
        </h1>
        <h1 style="text-align:center;color:#4682B4;font-size:90px">
            &nbsp; &nbsp; &nbsp; &nbsp  <b>Priority</b>
        </h1>
        <br/>
        <br/>
        <br />
        
        <div class="col-md-7" style="float:right">
        
        <a class="btn btn-info" style="padding:20px;width:65%;font-size:30px" asp-controller="Products" asp-action="Index">Shop Now  <i class ="bi bi-cart-plus"></i></a>
        </div>
       
        
</div>
    

   
    
</body>
</html>

