<div class="row">
    <div class="col-md-6 offset-3">
       
        
            <h1 class="text-info">Invalid Credentials..Password cannot be changed</h1>
            <hr />
            <a class="btn btn-outline-success" asp-controller="Products" asp-action="Index">Home Page</a>
        
        <h1 class="text-info">@ViewBag.Message</h1>

    </div>
</div>
